html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: Shippori Antique B1;
}

.canvas-container {
    width: 100%;
    height: 80%;
    position: relative;
}

.three-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

.canvas-html-overlay {
    position: absolute;
    z-index: 1;
    min-width: fit-content;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-html-overlay-title {
    font-size: 8vw;
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-shadow: 5px 5px 0px rgb(247, 217, 255);
    background-color: rgb(255, 254, 254);
}

.experience-intro-box {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.experience-intro-statement-box {
    width: 40%;
    margin-top: 5%;
}

.experience-navigation-text {
    font-size: 100%;
}

.experience-navigation-text-page {
    color: black;
    text-decoration: none;
}

.experience-navigation-text-page:hover {
    text-decoration: underline;
    color: rgb(84, 63, 237);
}

.experience-navigation-text-page#this-page {
    text-decoration: underline;
    color: rgb(84, 63, 237);
}


.experience-intro-statement {
    font-size: 5vw;
}

.experience-item-box {
    width: 100%;
    height: 30%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.experience-item-picture {
    aspect-ratio: 1/1;
    height: 100%;
    border: solid;
    border-width: 1px;
    background-color: black;
    box-shadow: 5px 5px 0px rgb(84, 63, 237);
    background-size: cover;
    background-position: center;
}

.experience-item-picture-contained {
    background-size: contain;
}

.experience-item-description-box {
    width: 40%;
    height: 100%;
    margin-left: 5%; 
}

.experience-item-title-text {
    font-size: 100%;
}

.experience-item-type {
    color: rgba(0, 0, 0, 0.398);
    font-size: 100%;
}

.experience-item-name {
    text-decoration: underline;
}

.experience-item-description {
    font-size: 100%;
    margin-top: 3%;
}

.experience-item-type-seperator {
    width: 100%;
    height: 3%;
    margin-top: 5%;
    overflow: hidden;
    background-color: black;
}

.experience-item-type-seperator-text {
    width: 100%;
    text-align: center;
    font-size: 100%;
    word-spacing: 40px;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.674);
    animation: scrollingText 70s linear infinite;
}

@keyframes scrollingText {
    0% {
        transform: translateX(0%); /* Start with text off-screen to the right */
    }
    100% {
        transform: translateX(-50%); /* Move text off-screen to the left */
    }
}

.experience-page-ending-box {
    width: 100%;
    height: auto;
    margin-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}

.experience-page-ending-center-box {
    width: 40%;
}

.experience-page-ending-center-title {
    font-size: 5vw;
}

.experience-page-ending-center-description {
    font-size: 100%;
    margin-top: 3%;
}

.regular-button {
    font-size: 100%;
    padding: 1% 2% 1% 2%;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    transition-duration: 0.4s;
    flex: 0 0 auto;
    margin-top: 5%;
    max-width: fit-content;
    text-decoration: none;
    display: block;
}

.regular-button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

@media only screen and (orientation: portrait) {
    
    .canvas-html-overlay-title {
        font-size: 13vw;
    }

    .experience-intro-statement-box {
        width: 70%;
    }

    .experience-intro-statement {
        font-size: 8vw;
    }

    .experience-item-box {
        flex-direction: column;
        min-height: 30%;
        height: auto;
    }

    .experience-item-picture {
        width: 50%;
    }

    .experience-item-description-box {
        margin-left: 0;
        margin-top: 3%;
        width: 50%;
    }

    .experience-item-type-seperator {
        padding-bottom: 1%;
    }

    .experience-item-type-seperator-text {
        animation: scrollingText 30s linear infinite;
    }

    .experience-page-ending-center-box {
        width: 70%;
    }

    .experience-page-ending-center-title {
        font-size: 8vw;
    }

}